span {
    display: table;
    margin: 2vh auto;
}
.small {
    display: inline-block;
    margin-right: 3vw;
    width: 15vw;
}
.large {
    display: inline-block;
    width: 60vw;
}
.grotesk {
    text-align: left;
    font-family: "Px Grotesk Regular", sans-serif;
    font-size: 4.7vw;
    font-weight: 800;
}
.orbitron {
    text-align: left;
    font-family: "Orbitron", sans-serif;
    font-size: 5.3vw;
    font-weight: 800;
}
.industry {
    text-align: left;
    font-family: "Industry", sans-serif;
    font-size: 4.7vw;
    font-weight: 800;
}
.industryLong {
    text-align: left;
    font-family: "Industry", sans-serif;
    font-size: 4vw;
    font-weight: 800;
}